.landing-page-body img {
    position: absolute;
    left: 200px;
    width: 1150px;
    height: 550px;     
}

.home_image_text {
    position: relative;
    left: 220px;
    top: 15px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);   
}