.navbar {
    color: red;
    background-color: #B22222;
    margin-top: 200px;
    height: 100%;

    grid-column: navbar-s/navbar-e;
    grid-row: login-s/login/e;
    justify-self: end;

    .navbar-links a {
        display: grid;
        justify-content: space-between;
        grid-gap: 80px;
        margin-top: 100px;
        margin-right: 30px;
        color: yellow;
        font-family: 'Shadows Into Light', cursive;
        font-size: 27px;
        font-weight: 500;

        transition: all .5s ease;

        &:hover {
            transform: scale(1.45);
            color: black;
            font-weight: 800;
        }
    }
}